@import "custom.css";

/*
* login form
*/

:root {
    --main-color: #0d6cfd;
}

.main-title {
    border-bottom: 1px solid var(--main-color);
}

.login label {
    font-size: 1em;
    margin-bottom: 20px;
}