@import "custom.css";

/*
* global
*/

:root {
    --main-color: #1e6bde;
    --hover-color: #1a7ad3;
}

nav a:hover {
    border-bottom: 1px solid var(--main-color);
}

.navbar-nav {
    height: 40px;
}

/*
* login form
*/

.main-title {
    border-bottom: 1px solid var(--main-color);
}

.login label {
    font-size: 1em;
    margin-bottom: 20px;
}

.featurette-heading {
    color: var(--main-color);
}

/*
* destinazioni
*/

.card-link button {
    color: white;
    border: none;
    background-color: var(--main-color);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.card-link button:hover {
    background-color: var(--hover-color);
}

.card-deck .card{
    margin: 15px;
}

/* control panel for: admin */

nav.cp-navbar a:hover {
    color:blue;
}

.row a {
    color: black;
}

.row a:hover {
    border-bottom: none;
}

nav .sidebar-sticky a:hover {
    color: var(--hover-color);
}