<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="it"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/base.html :: headerfiles(title='Modifica la tua password')">
    <link rel="icon" th:href="@{/images/favicon.png}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/3bcc05e06e.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Custom CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{../static/css/style.css}" href="../static/css/style.css">
    <!-- Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>


<body>
<!--header-->
<header th:replace="fragments/base.html :: header-base"></header>
<!-- end header -->

<!--navbar-->
<nav sec:authorize="isAuthenticated()" th:replace="fragments/base_default.html :: navbar"></nav>
<!--navbar-->

<!-- titolo principale -->
<div class="container text-center mt-5">
    <h1>Benvenuto <span class="text-primary" th:text="${user.nome}">nome</span> !</h1>
    <p class="lead">
        Stai modificando il tuo account.
    </p>
</div>
<!-- fine titolo principale -->

<!-- container principale -->
<div class="container justify-content-center mt-5 align-items-center">
    <!-- riga -->
    <div class="row">

        <!-- left -->
        <div class="col-md-4 col-lg-3 mb-5 bg-white flex-column">
            <div class="container text-center mt-5">
                <img src="../static/images/account/account-placeholder.svg" width="200" th:src="@{/images/account/account-placeholder.svg}">
            </div>

            <div class=" container text-center mt-5 flex-column">
                <div class="container">
                    <a th:href="@{'/update/utente' + ${credentials.id}}"><button type="button" class="btn btn-primary w-100 mb-3">Modifica il tuo profilo</button></a>
                    <a th:href="@{/utente/pacchetti}"><button type="button" class="btn btn-primary w-100 mt-2 mb-3">I tuoi pacchetti</button></a>
                    <a th:href="@{'/update/password/utente/' + ${credentials.id}}"><button type="button" class="btn btn-primary w-100 mt-2 mb-3">Modifica la password</button></a>
                    <a th:href="@{/logout}"><button type="button" class="btn btn-primary w-100 mt-2 mb-3">Logout</button></a>
                </div>

            </div>
        </div>
        <!-- left -->


        <!-- right -->
        <div class=" shadow-lg col-md-4 col-lg-8 bg-white rounded mb-5 justify-content-center">
            <!-- register form -->
            <div class="p-5 col-md-7 col-lg-12">
                <form method="POST" th:action="@{/update/password/utente}" th:object="${credentials}">

                    <input type="hidden" th:value="*{id}" th:field="*{id}">
                    <input type="hidden" th:value="${user.id}" th:field="*{id}">


                    <!-- riquadro errori -->
                    <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                        <ul>
                            <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                        </ul>
                    </div>
                    <!-- -->

                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="hidden" id="nome" class="form-control"
                                       th:value="${user.nome}" th:field="${user.nome}" readonly/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="hidden" id="cognome" class="form-control"
                                       th:value="${user.cognome}" th:field="${user.cognome}" readonly/>
                            </div>
                        </div>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="hidden" id="email" class="form-control" th:field="${credentials.email}"/>
                    </div>

                    <!-- username input -->
                    <div class="form-outline">
                        <input type="hidden" id="username" class="form-control"
                               th:value="${credentials.username}" th:field="${credentials.username}"/>
                    </div>

                    <div class="form-outline">
                        <input type="hidden" id="pass" class="form-control"
                               th:value="${credentials.password}" th:field="${credentials.password}"/>
                    </div>

                    <!-- password corrente input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="currentpsw">Password corrente</label>
                        <input type="password" name="currentpsw" id="currentpsw" class="form-control" placeholder="**********"/>
                    </div>

                    <!-- New password input -->
                    <div class="row mb-4">
                        
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="username">Nuova password</label>
                                <input type="password" id="newpassword" class="form-control"
                                       th:field="${credentials.password}" placeholder="**********"/>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="password">Conferma nuova password</label>
                                    <input type="password" class="form-control" name="confirmpsw" id="confirmpsw" placeholder="**********">
                            </div>
                        </div>
                    </div>

                    <!-- telefono input e data nascita input-->

                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input th:unless="${user?.telefono == null}"
                                       type="hidden" id="telefono" class="form-control"
                                       th:value="${user.telefono}" th:field="${user.telefono}"/>
                                <input th:if="${user?.telefono == null}" type="hidden" th:field="${user.telefono}"
                                       placeholder="Inserisci il numero di telefono">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input th:unless="${user?.dataNascita == null}"
                                       type="hidden" id="dataNascita" class="form-control" th:value="${user.dataNascita}"
                                       th:field="${user.dataNascita}" readonly/>
                            </div>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <div class="d-flex">
                        <button type="submit" class="btn btn-primary btn-block m-2">Modifica</button>
                        <a th:href="@{/account}">
                            <button type="button" class="btn btn-primary m-2">Indietro</button>
                        </a>
                    </div>
                </form>
            </div>
            <!-- register form-->

        </div>

    </div>
    <!-- fine riga -->
</div>
<!-- container principale -->

<!-- footer -->
<footer th:replace="fragments/base.html :: footer"></footer>
<!-- footer -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>