<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="it"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/base.html :: headerfiles(title='Modifica il tuo account')"></head>


<body>
<!--header-->
<header th:replace="fragments/base.html :: header-base"></header>
<!-- end header -->

<!--navbar-->
<nav sec:authorize="isAuthenticated()" th:replace="fragments/base_default.html :: navbar"></nav>
<!--navbar-->

<!-- titolo principale -->
<div class="container text-center mt-5">
    <h1>Benvenuto <span class="text-primary" th:text="${user.nome}">nome</span> !</h1>
    <p class="lead">
        Stai modificando il tuo account.
    </p>
</div>
<!-- fine titolo principale -->

<!-- container principale -->
<div class="container justify-content-center mt-5 align-items-center">
    <!-- riga -->
    <div class="row">

        <!-- left -->
        <div class="col-md-4 col-lg-3 mb-5 bg-white flex-column">
            <div class="container text-center mt-5">
                <img src="../static/images/account/account-placeholder.svg" width="200" th:src="@{/images/account/account-placeholder.svg}">
            </div>

            <div class=" container text-center mt-5 flex-column">
                <div class="container">
                    <a th:href="@{'/update/utente' + ${credentials.id}}"><button type="button" class="btn btn-primary w-100 mb-3">Modifica il tuo profilo</button></a>
                    <a th:href="@{/utente/pacchetti}"><button type="button" class="btn btn-primary w-100 mt-2 mb-3">I tuoi pacchetti</button></a>
                    <a th:href="@{'/update/password/utente/' + ${credentials.id}}"><button type="button" class="btn btn-primary w-100 mt-2 mb-3">Modifica la password</button></a>
                    <a th:href="@{/logout}"><button type="button" class="btn btn-primary w-100 mt-2 mb-3">Logout</button></a>
                </div>

            </div>
        </div>
        <!-- left -->


        <!-- right -->
        <div class=" shadow-lg col-md-8 col-lg-8 bg-white rounded mb-5 justify-content-center">
            <!-- register form -->
            <div class="p-5 col-md-12 col-lg-12">
                <form method="POST" th:action="@{/update/utente}" th:object="${credentials}">

                    <input type="hidden" th:value="*{id}" th:field="*{id}">
                    <input type="hidden" th:value="${user.id}" th:field="*{id}">


                    <!-- riquadro errori -->
                    <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                        <ul>
                            <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                        </ul>
                    </div>
                    <!-- -->

                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="nome">Nome</label>
                                <input type="text" id="nome" class="form-control"
                                       th:value="${user.nome}" th:field="${user.nome}" readonly/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="cognome">Cognome</label>
                                <input type="text" id="cognome" class="form-control"
                                       th:value="${user.cognome}" th:field="${user.cognome}" readonly/>
                            </div>
                        </div>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="email">Indirizzo e-mail</label>
                        <input type="email" id="email" class="form-control" th:field="${credentials.email}"
                        th:value="${credentials.email}"/>
                    </div>

                    <!-- Password and username input -->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="username">Username</label>
                                <input type="text" id="username" class="form-control"
                                       th:value="${credentials.username}" th:field="${credentials.username}" readonly/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="password">Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="**********"
                                           th:field="${credentials.password}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="telefono">Telefono</label>
                                <input th:unless="${user?.telefono == null}"
                                       type="text" id="telefono" class="form-control"
                                       th:value="${user.telefono}" th:field="${user.telefono}"/>
                                <input th:if="${user?.telefono == null}" class="form-control"
                                       type="text" th:field="${user.telefono}"
                                placeholder="Inserisci il numero di telefono">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="dataNascita">Data di nascita</label>
                                <input th:unless="${user?.dataNascita == null}"
                                       type="date" id="dataNascita" class="form-control" th:value="${user.dataNascita}"
                                       th:field="${user.dataNascita}" readonly/>
                                <input th:if="${user?.dataNascita == null}"
                                       type="date" id="dataNascita" class="form-control"
                                       th:field="${user.dataNascita}"/>
                            </div>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <div class="d-flex">
                        <button type="submit" class="btn btn-primary btn-block m-2">Modifica</button>
                        <a th:href="@{/account}">
                            <button type="button" class="btn btn-primary m-2">Indietro</button>
                        </a>
                    </div>
                </form>
            </div>
            <!-- register form-->

        </div>

    </div>
    <!-- fine riga -->
</div>
<!-- container principale -->

<!-- footer -->
<footer th:replace="fragments/base.html :: footer"></footer>
<!-- footer -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>