<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="it"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
<head th:replace="fragments/base.html :: headerfiles(title='Login')"></head>
<body>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>


<!--header-->
<header th:replace="fragments/base.html :: header-base">
</header>
<!-- end header -->

  
  <div class="main-title container mt-5 mb-5 text-center">
    <h1>Accedi</h1>
  </div>

    <!-- messaggio errore -->
    <div class="container d-flex justify-content-center align-items-center">
        <div th:if="${param.error}" class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div class="container p-2 mt-3">
                <p>Username o password non validi.</p>
            </div>
        </div>
    </div>
    <!-- messaggio errore -->

    <!-- messaggio di successo -->
    <div class="container d-flex justify-content-center align-items-center mt-4">
        <div th:if="${successmsg}" class="alert alert-success d-flex align-items-center w-50" role="alert">

            <!-- icona -->
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>

            <!-- messaggio -->
            <div class="container p-2 mt-3">
                <p th:text="${successmsg}">Messaggio successo</p>
            </div>

            <!-- btn -->
            <div class="container d-flex justify-content-lg-end w-25">
                <div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
    <!-- messaggio di successo -->

    <!-- container principale -->
    <div class="login container col-md-5 col-lg-4">
    <form method="POST" th:action="@{/login}">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="username" class="form-control" name="username" id="username" placeholder="Inserisci username">
        </div>
        <div class="form-group mt-4">
          <label for="password">Password</label>
            <div class="input-group">
                <input type="password" class="form-control" name="password" id="password" placeholder="Inserisci password" aria-describedby="pswHelp">
                <span class="input-group-text">
                    <i class="bi bi-eye-slash" onClick="show(this)"></i>
                </span>
            </div>

          <small id="pswHelp" class="form-text text-muted">Password dimenticata?</small>
        </div>
        <div class="container flex text-center">
            <button type="submit" class="btn btn-primary">Accedi</button>
            <a th:href="@{/}"><button type="button" class="btn btn-primary">Indietro</button></a>
        </div>
      </form>
    </div>

    <!-- other social container -->
    <div class="container">
        <div class="container mt-5 mb-2 text-center">
            <h3>Oppure accedi con:</h3>
        </div>
        <section class="mb-5 text-center d-flex flex-column">
            <a th:href="@{/oauth2/authorization/google}">
                <button type="button" class="btn btn-danger mt-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                        <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"></path>
                    </svg>
                    Login con Google
                </button>
            </a>
            <a th:href="@{/oauth2/authorization/facebook}">
                <button type="button" class="btn btn-primary mt-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
                    </svg>
                    Login con Facebook
                </button>
            </a>
        </section>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
</script>
<script>
    let passwordInput = document.getElementById('password');

    let show = function (icon) {
        // se non è visibile
        if(passwordInput.type === "password"){
            icon.classList.remove('bi-eye-slash');
            icon.classList.add('bi-eye');
            passwordInput.type = "text";
        }
        //altrimenti se è visibile
        else if (passwordInput.type === "text"){
            //cambio icona e copro la password
            icon.classList.remove('bi-eye');
            icon.classList.add('bi-eye-slash');
            passwordInput.type = "password";
        }
    }
</script>
</body>
</html>