<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="it"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
<head th:replace="fragments/base.html :: headerfiles(title='Login')"></head>
<body>

<!--header-->
<header th:replace="fragments/base.html :: header-base">
</header>
<!-- end header -->

  
  <div class="main-title container mt-5 mb-5 text-center">
    <h1>Accedi</h1>
  </div>
  <div class="login container col-md-5 col-lg-4">
    <form method="POST" th:action="@{/login}">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="username" class="form-control" id="username" placeholder="Inserisci username">
        </div>
        <div class="form-group mt-4">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Inserisci password" aria-describedby="pswHelp">
          <small id="pswHelp" class="form-text text-muted">Password dimenticata?</small>
        </div>
        <div class="container flex text-center">
            <a href=""><button type="submit" class="btn btn-primary">Accedi</button></a>
            <a href=""><button type="button" class="btn btn-primary">Indietro</button></a>
        </div>
      </form>
  </div>

<div class="container">
    <div class="container mt-5 mb-2 text-center">
        <h3>Oppure accedi con:</h3>
    </div>
    <section class="mb-5 text-center">
        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
    </section>
</div> 

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>