<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Registrazione')"></head>
<body>

<!--header-->
<header th:replace="fragments/base.html :: header-base">
</header>
<!-- end header -->

<!--navbar-->
<nav class="navbar navbar-expand-md bg-light">
  <div class="container-xl">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>
      <div class="navbar-collapse justify-content-md-center collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav justify-content-center w-50 ">
          <a class="nav-link active" aria-current="page" th:href="@{/}" href="index.html">Homepage</a>
          <a class="nav-link" th:href="@{/destinazioni}" href="destinazioni.html">Destinazioni</a>
          <a class="nav-link" th:href="@{/pacchetti}" href="pacchetti.html">Pacchetti</a>
          <a class="nav-link" th:href="@{/chisiamo}" href="#">Chi siamo</a>
          <a class="nav-link" th:href="@{/register}" href="register-user.html">Registrati</a>
        </div>
        <div class="dropdown flex justify-content-end">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-regular fa-circle-user fa-xl"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="login.html">Login</a></li>
            <li><a class="dropdown-item" href="#">Registrati</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </div>
    </div>
  </div>
</nav>
<!--navbar-->

<!-- registration title -->
<div class="p-4 text-center ">
    <h1>Registrazione nuovo utente</h1>
    <p class="lead">
        Ti manca veramente poco per essere uno di noi, compila il form e potrai godere di tutti i vantaggi.
    </p>
</div>
<!-- registration title-->

<!--container-->
<div class="row">

    <!-- img -->
    <div class="col-md-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <img th:src="@{/images/register/signup.svg}"
                 width="100%" x="0" y="0"></img>
        </div>
    </div>
    <!-- img-->

    <!-- register form -->
    <div class="p-5 col-md-7 col-lg-6">
        <form method="POST" th:action="@{/signup}" th:object="${credentials}">

            <!-- riquadro errori -->
            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                    <ul>
                        <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                    </ul>
            </div>

            <!-- -->
            <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="nome">Nome</label>
                    <input type="text" id="nome" class="form-control" th:field="${user.nome}"/>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="cognome">Cognome</label>
                    <input type="text" id="cognome" class="form-control" th:field="${user.cognome}"/>
                </div>
            </div>
            </div>
        
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="email">Indirizzo e-mail</label>
                <input type="email" id="email" class="form-control" th:field="${credentials.email}"/>
            </div>
        
            <!-- Password input -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="username">Username</label>
                        <input type="text" id="username" class="form-control" th:field="${credentials.username}" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" id="password" class="form-control" th:field="${credentials.password}"/>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="telefono">Telefono</label>
                        <input type="text" id="telefono" class="form-control" th:field="${user.telefono}"/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="dataNascita">Data di nascita</label>
                        <input type="date" id="dataNascita" class="form-control" th:field="${user.dataNascita}" />
                    </div>
                </div>
            </div>
        
            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="newsletter-check" checked />
            <label class="form-check-label" for="newsletter-check">
                Iscriviti alla nostra newsletter
            </label>
            </div>
            <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="terms-check" checked />
                <label class="form-check-label" for="terms-check">
                Dichiaro di aver letto ed accettato i nostri <a href="">termini e servizi</a>
                </label>
            </div>
        
            <!-- Submit button -->
            <div class="d-flex">
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
            </div>
        </form>
    </div>
    <!-- register form-->
</div>
<!--container-->


<!-- Footer -->
<footer class="bg-primary text-center text-white">
  <!-- container -->
  <div class="container p-4">

    <!-- Section: Social media -->
    <section class="mb-4">
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i></a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram"></i></a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <div class="row d-flex justify-content-center">
          <div class="col-auto">
            <p class="pt-2">
              <strong>Iscriviti alla nostra newsletter</strong>
            </p>
          </div>
          <div class="col-md-5 col-12">
            <!-- e-mail input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form-email" class="form-control" placeholder="Inserisci la tua e-mail"/>
            </div>
          </div>
          <div class="col-auto">
            <!-- submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Iscriviti ora
            </button>
          </div>
        </div>
      </form>
    </section>
  </div>
  <!-- container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright:
    <a class="text-white" href="">Daniel Checchia</a>
  </div>
  <!-- Copyright -->

    </footer>
<!-- Footer -->

    </body>
</html>